<header>
        <nav id="navBar">
            <button class="navBtns" id="homeBtn">HOME</button>
            <button class="navBtns" id="dashBtn">DASHBOARD</button>
            <button class="navBtns" id="logOutNavBtn">LOGOUT</button>
        </nav>
        <h1>Oh.   My.   Blog.</h1>
        <h4><span id="userName">{{post.[0].user.name}}'s </span>'s tech blog tech posts'</h4>
    </header>
<main id="postContainer">
    <button id="toggleCreate">Make a Post</button>
    <form id="createPostForm">
        <div id="createPostWrap">
            <h5>please share with us some techy tech tips for tech</h5>
            <label for="postTitle">Title</label>
            <input id="postTitle" type="text">
            <textarea id="postContent" cols="30" rows="5" placeholder="They were the best of techs they were the worst of techs..."></textarea>
            <button id="postSubBtn">Submit</button>
        </div>
    </form>
    {{!-- references the post partial to be rendered --}}
{{> post logged_in = true}}

</main>

<script src="./js/home.js"></script>
