<main id="postContainer">
    <form id="createPostForm">
        <label for="postTitle">Title</label>
        <input id="postTitle" type="text">
        <textarea id="postContent" cols="30" rows="10" placeholder="i am sooooo great and here is why..."></textarea>
        <button id="postSubBtn">Submit</button>
    </form>
    {{log 'handlebars' post}}
    {{#each post as |post|}}
    <section class="card">
        <div class="cardHeader">
            <h3 class="cardTitle">{{post.title}}</h3>
            <h6 class="cardAuthor">by: {{post.user.name}}</h6>
        </div>
        <div class="postContent">
            <p>{{post.mainText}}</p>
        </div>
        <div class="comments">
            <p>comments partials and each go here</p>
        </div>
    </section>
    {{/each}}
</main>

<script src="./js/home.js"></script>