<header>
        <nav id="navBar">
            <button class="navBtns" id="homeBtn">HOME</button>
            <button class="navBtns" id="dashBtn">DASHBOARD</button>
            {{#if logged_in}}
            <button class="navBtns" id="logOutBtn">LOGOUT</button>
            {{else}}
            <button class="navBtns" id="logInBtn">LOGIN</button>
            {{/if}}
        </nav>
        <h1>The Tech Blog!</h1>
    </header>
<main id="postContainer">
    {{#if logged_in}}
    <form id="createPostForm">
        <label for="postTitle">Title</label>
        <input id="postTitle" type="text">
        <textarea id="postContent" cols="30" rows="10" placeholder="i am sooooo great and here is why..."></textarea>
        <button id="postSubBtn">Submit</button>
    </form>
    {{/if}}

    {{> post}}

</main>

<script src="./js/home.js"></script>
