
<header>
    <nav id="navBar">
        <button class="navBtns" id="homeBtn">HOME</button>
        <button class="navBtns" id="dashBtn">DASHBOARD</button>
        {{#if logged_in}}
        <button class="navBtns" id="logOutNavBtn">LOGOUT</button>
        {{else}}
        <button class="navBtns" id="logInNavBtn">LOGIN</button>
        <button class="navBtns" id="signUpNavBtn">SIGN UP</button>
        {{/if}}
    </nav>
    <h1>Oh.   My.   Blog.</h1>
</header>
<main id="postContainer">
    <div id="modalWrap">
        {{!-- if the user is redirected from the login route the log in modal will render --}}
        {{# if needLogIn}}
        <div id="logInCard" class="credCard" style="display: block">
        {{else}}
        <div id="logInCard" class="credCard" style="display: none">
        {{/if}}
        {{!-- log in modal --}}
            <h3 id="logInBanner" class="logInBanner"> Log In Here </h3>
            <form id="longInForm">
                <div class="inputGroup">
                    <label for="logInEmail">Email:</label>
                    <input type="text" id="logInEmail" class="inputForm">
                </div>
                <div class="inputGroup">
                    <label for="logInPassword">Password:</label>
                    <input type="password" id="logInPassword" class="inputForm">
                </div>
                <div class="inputGroup">
                    <button type="submit" id="logInBtn" class="formBtns">Submit</button>
                    <p>Not A member? <a id="toSignUp" href="#">Sign Up</a></p>
                </div>
            </form>
        </div>
        {{!-- sign up modal --}}
        <div id="signUpCard" class="credCard" style="display: none">
            <form id="signUpForm">
                <h3 id="signInBanner" class="logInBanner">Sign Up</h3>
                <div class="inputGroup">
                    <label for="signUpName">Name:</label>
                    <input type="text" id="signUpName" class="inputForm">
                </div>
                <div class="inputGroup">
                    <label for="signUpEmail">Email:</label>
                    <input type="text" id="signUpEmail" class="inputForm">
                </div>
                <div class="inputGroup">
                    <label for="signUpPassword">Password:</label>
                    <input type="text" id="signUpPassword" class="inputForm">
                </div>
                <div class="inputGroup">
                    <button type="submit" id="signUpBtn" class="formBtns">Submit</button>
                </div>
            </form>
        </div>
        <div id="cardArea">
            {{> post}}
        </div>
    </div>
</main>

<script src="./js/home.js"></script>
<script src="./js/login.js"></script>
