<header>
    <h1>The Tech Blog!</h1>
</header>
<div id="logInBackground">
    <div id="logInCard" class="credCard">
        <h3 id="logInBanner" class="logInbanner"> Log In Here </h3>
        <form id="longInForm">
            <div class="inputGroup">
                <label for="logInEmail">Email:</label>
                <input type="text" id="logInEmail" class="inputForm">
            </div>
            <div class="inputGroup">
                <label for="logInPassword">Password:</label>
                <input type="password" id="logInPassword" class="inputForm">
            </div>
            <div class="inputGroup">
                <button type="submit" id="logInBtn" class="formBtns">Submit</button>
            </div>
        </form>
    </div>
    <div id="signUpCard" class="credCard">
        <form id="signUpForm">
            <h3 id="signInBanner" class="logInBanner">Sign Up</h3>
            <div class="inputGroup">
                <label for="signUpName">Name:</label>
                <input type="text" id="signUpName" class="inputForm">
            </div>
            <div class="inputGroup">
                <label for="signUpEmail">Email:</label>
                <input type="text" id="signUpEmail" class="inputForm">
            </div>
            <div class="inputGroup">
                <label for="signUpPassword">Password:</label>
                <input type="text" id="signUpPassword" class="inputForm">
            </div>
            <div class="inputGroup">
                <button type="submit" id="signUpBtn" class="formBtns">Submit</button>
            </div>
        </form>
    </div>
</div>

<script src="./js/login.js"></script>