 
* {
    border: none;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;  
    position: relative;
    resize: unset;
    text-decoration: none;
}

:root {
    --border: 2px solid black;
    --border-radius: 3px;
}

body{
    flex-direction: column;
    height: 100vh;
}

header {
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: column-reverse;
}

#navBar {
    color:blue;
    display: flex;
    width: 100vw;
}

.navBtns {
    background: black;
    border-bottom: 2px solid white;
    color: white;
    cursor: pointer;
    padding: 20px;
}

.navBtns:hover{
    background: slategray;
}

h1 {
    color: green;
    padding: 10px 10px 10px 5px;
}

input {
    border: var(--border);
    border-radius: var(--border-radius);
}

.formBtns {
    background: black;
    border-radius: var(--border-radius);
    color: white;
    cursor: pointer;
    padding: 8px;
}

.formBtns:hover {
    background: slategray;
}

.logInBanner{
    font-size: 200%;
}

.credCard {
    background: tan;
    border: var(--border);
    border-radius: var(--border-radius);
    /* display: none; */
    height: fit-content;
    margin: 10px;
    padding: 20px;
    padding-right: 30px;
    position: fixed;
    top: 40%;
    z-index: 2;  
}

.inputGroup{
    font-size: 150%;
}

.inputForm{
    height: 30px;
    margin: 5px 10px;
    width: 100%;
}

#postContainer{
    align-items: center;
    align-self: flex-start;
    background-attachment: fixed;
    background-image: url('../images/codeComp.jpg');
    background-repeat: repeat-x;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    width: 100%;
}

#modalWrap{
    display: flex;
    justify-content: center;
    z-index: 1;
}

.cardArea{
    display: flex;
}

/*----------- creating/submitting post form -----------*/
#toggleCreate{
    border: var(--border);
    border-radius: var(--border-radius);
    cursor: pointer;
    height: 40px;
    width: 60%;
}

#createPostForm{
    align-content: center;
    background: rgba(163, 162, 118, 0.8);
    display: flex;
    flex-direction: column;
    width: 100vw;
}

#createPostWrap{
    display: none;
    flex-direction: column;
    padding: 0 50px;
}

#postTitle{
    margin: 5px;
    width: 60%;
}

#postContent{
    border: var(--border);
    border-radius: var(--border-radius);
    margin: 5px;
    padding: 7px;
}

#postSubBtn{
    align-self: center;
    border: var(--border);
    border-radius: var(--border-radius);
    cursor: pointer;
    height: 40px;
    margin-bottom: 5px;
    width: 60%;
}

/* --------posts----------------- */

#cardContainer{
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.card{
    /* align-items: center; */
    background: rgb(28, 31, 34);
    border: var(--border);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 5px;
}


.cardHeader{
    background: rgb(240, 162, 123);
    border: var(--border); 
    border-radius: var(--border-radius);
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.postContent{
    background: rgb(82, 85, 88);
    border: var(--border);
    border-radius: var(--border-radius);
    color: white;
    height: min-content;
    margin: 5px;
    padding: 5px;
}

.postTextArea{
    height: auto;
    width: 100%;
    z-index: 0;
}

.delUpdBtns{
    display: none;
}

.postBtnsWrap{
    display: flex;
    justify-content: center;
    z-index: 0
}

.deletePost,
.updatePost,
.sendUpdatePost,
.addCommentToggle {
    border-radius: var(--border-radius);
    cursor: pointer;
    padding: 8px;
    margin: 5px 10px;
    min-height: 55px; 
    width: 70px;
}

.addCommentToggleHome{
    align-self: center;
    border-radius: var(--border-radius);
    cursor: pointer;
    height: 30px;
    width: 40%;
}


.sendUpdatePost{
    display: none;
}


/* ----------comments ------------*/

.addComment{
    border-radius: var(--border-radius);
    display: none;
    flex-direction: column;
    margin: 5px;
}

.commentWrap{
    background: lightyellow;
    border: var(--border);
    border-radius: var(--border-radius);
    font-size: .8rem;
    margin: 5px ;
}

.commentText{
    min-height: 30px;
    padding: 5px;
}

.commentAuthor{
    background:rgb(155, 159, 163);
    border-bottom: var(--border);
    padding: 0px 5px;
}

.commentMain{
    border: 1px solid black;
    border-radius: var(--border-radius);
    padding: 2px;
    resize: unset;
}

.addCommentBtn{
    align-self: center;
    cursor: pointer;
    margin: 5px;
    width: 30%;
}