 
* {
    box-sizing: border-box;
    border: none;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;  
    position: relative;
    resize: unset;
    text-decoration: none;
    /* z-index: 0; */
}

:root {
    --border-radius: 3px;
}

body{
    /* display: flex; */
    flex-direction: column;
    height: 100vh;
    /* width: 100%; */
}

header {
    /* background: lightcoral; */
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: column-reverse;
}

#navBar {
    /* background: yellow; */
    color:blue;
    display: flex;
    width: 100vw;
}

.navBtns {
    background: black;
    border-bottom: 2px solid white;
    color: white;
    cursor: pointer;
    padding: 20px;
}

.navBtns:hover{
    background: slategray;
}

h1 {
    color: green;
    padding: 10px 10px 10px 5px;
}

input {
    border: 1px solid gray;
    border-radius: var(--border-radius);
}

.formBtns {
    background: black;
    border-radius: var(--border-radius);
    color: white;
    cursor: pointer;
    padding: 8px;
}

.formBtns:hover {
    background: slategray;
}

/* #logInBackground {
    align-items: center;
    background: rgba(100, 100, 100, .6);
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
} */

.logInBanner{
    font-size: 200%;
}

.credCard {
    margin: 10px;
    background: tan;
    border: 2px solid black;
    border-radius: var(--border-radius);
    display: none;
    height: fit-content;
    padding: 20px;
    padding-right: 30px;
    position: absolute;
    top: 10%;
    z-index: 2;  
}

.inputGroup{
    font-size: 150%;
}

.inputForm{
    margin: 5px 10px;
    height: 30px;
    width: 100%;
}

#postContainer{
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.cardArea{
    display: flex;
}

/* creating/submitting post form */
#postTitle{
    margin: 5px;
    width: 60%;
}

#postContent{
    border: 1px solid black;
    border-radius: var(--border-radius);
}

#postSubBtn{
    margin: 5px;
    border: 1px solid black;
    border-radius: var(--border-radius);
}

#createPostForm{
    background: beige;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#cardContainer{
    display: flex;
}

/* --------posts----------------- */
.card{
    border-radius: var(--border-radius);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: 10px;
    min-width: 40%;
    /* z-index: -1; */
}

.cardHeader{
    background: lightsalmon;
    padding: 5px;
    border-bottom:1px solid black; 
}

.postContent{
    background: lightsteelblue;
    border-radius: var(--border-radius);
    height: min-content;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

.postTextArea{
    height: auto;
    width: 100%;
}

.sendUpdatePost{
    display: none;
    min-height: min-content;
    white-space: pre-wrap;
}


/* ----------comments ------------*/
.commentWrap{
    background: lightyellow;
    border: 1px solid black;
    border-radius: var(--border-radius);
    margin: 5px;
    /* padding: 5px; */
    font-size: .8rem;
}

.commentText{
    min-height: 30px;
}

.commentAuthor{
    border-bottom: 1px solid black;
    border-radius: var(--border-radius);
    padding: 0px 5px;
}

.addComment{
    border: 1px solid black;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.commentMain{
    /* border: 1px solid black; */
    padding: 2px;
    /* height:max-content; */
    resize: unset;
}

.addCommentBtn{
    margin: 5px;
}